--index-url=http://mirrors.cloud.tencent.com/pypi/simple
--extra-index-url http://<username>:<password>@pypi.taijihuabao.com/
--trusted-host pypi.taijihuabao.com


bumpversion
click==6.7
coverage
flake8
pip
pytest
pytest-runner
recommonmark
requests
Sphinx
tox
twine
watchdog
wheel
